**Spark Funds, an asset management company. Spark Funds wants to make investments in a few companies. 
  The CEO of Spark Funds wants to understand the global trendsin investments so that she can take the
  investment decisions effectively.**

# Checkpoint - 1  
# Data Cleaning

In [2]:
import numpy as np
import pandas as pd
import csv

In [3]:
#upload the file rounds2
rounds2=pd.read_csv(r"F:\data science by ishan sir\project\Spark Funds Industrial Assignment - 1\Spark Funds Industrial Assignment - 1\rounds2.csv", encoding='ISO-8859-1')

In [4]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [5]:
rounds2.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [6]:
rounds2['company_permalink'].unique()

array(['/organization/-fame', '/ORGANIZATION/-QOUNTER',
       '/organization/-qounter', ..., '/organization/ã\x81eron',
       '/ORGANIZATION/Ã\x94ASYS-2',
       '/organization/ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic'],
      dtype=object)

In [7]:
len(rounds2['company_permalink'].unique())

90247

In [8]:
#remove the junk data and change the column data(company_permalink) in lower case in rounds2 file..
rounds2['company_permalink']=rounds2['company_permalink'].apply(lambda x: x.encode('UTF-8').decode('ascii','ignore'))
rounds2['company_permalink']=rounds2['company_permalink'].apply(lambda x:x.lower())

In [9]:
# func of unique

def my_unique(data):
    return data.unique()

In [10]:
my_unique(rounds2['company_permalink'])

array(['/organization/-fame', '/organization/-qounter',
       '/organization/-the-one-of-them-inc-', ..., '/organization/eron',
       '/organization/asys-2',
       '/organization/novatiff-reklam-ve-tantm-hizmetleri-tic'],
      dtype=object)

In [11]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

# Number of unique companies in Rounds2

In [12]:

print("The Total numbers of unique companies in rounds2 file are:",rounds2['company_permalink'].nunique())

The Total numbers of unique companies in rounds2 file are: 66368

# Now find the unique number of companies in companies file

In [13]:
#upload the file companies
companies=pd.read_table('F:\\data science by ishan sir\\project\\Spark Funds Industrial Assignment - 1\\Spark Funds Industrial Assignment - 1\\companies.txt', encoding='ISO-8859-1')

In [14]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 2.5+ MB

In [15]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [16]:
my_unique(companies["permalink"])

array(['/Organization/-Fame', '/Organization/-Qounter',
       '/Organization/-The-One-Of-Them-Inc-', ...,
       '/Organization/Ã\x81Eron', '/Organization/Ã\x94Asys-2',
       '/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-Hizmetleri-Tic'],
      dtype=object)

In [17]:
companies["permalink"].nunique()

66368

In [18]:
#remove the junk data and change the data in lower case in companies file..
companies["permalink"]=companies["permalink"].apply(lambda x:x.encode("UTF-8").decode("ascii","ignore"))
companies["permalink"]=companies["permalink"].apply(lambda x:x.lower())

# Number of unique companies in Companies

In [19]:
print("The total number of Unique companies in Companies file:",companies["permalink"].nunique())

The total number of Unique companies in Companies file: 66368

# Merge the data frames

In [20]:
master_frame=pd.merge(rounds2,companies,left_on='company_permalink',right_on='permalink')

In [21]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [22]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
 6   permalink                114949 non-null  object
 7   name                     114948 non-null  object
 8   homepage_url             108815 non-null  object
 9   category_list            111539 non-null  object
 10  status                   114949 non-null  object
 11  country_code             106271 non-null  object
 12  state_code               104003 non-null  object
 13  region                   104782 non-null  object
 14  city                     104785 non-null  object
 15  founded_at               94428 non-null   object
dtypes: float64(1), object(15)
memory usage: 8.3+ MB

In [23]:
#checking the numbers of null values
master_frame.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
dtype: int64

In [24]:
#func of percentage
def perc_check(master_frame):
    return round(100*master_frame.isnull().sum()/len(master_frame),2)

In [25]:
#checking the null values in percentage
perc_check(master_frame)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

In [26]:
master_frame.isnull().any()

company_permalink          False
funding_round_permalink    False
funding_round_type         False
funding_round_code          True
funded_at                  False
raised_amount_usd           True
permalink                  False
name                        True
homepage_url                True
category_list               True
status                     False
country_code                True
state_code                  True
region                      True
city                        True
founded_at                  True
dtype: bool

In [27]:
#checking the whole row is null or not 
master_frame.isnull().all(axis=1)     # row(axis=1),column(axis=0)

0         False
1         False
2         False
3         False
4         False
          ...
114944    False
114945    False
114946    False
114947    False
114948    False
Length: 114949, dtype: bool

In [28]:
master_frame.isnull().sum(axis=1)

0         1
1         1
2         1
3         5
4         0
         ..
114944    1
114945    1
114946    6
114947    1
114948    6
Length: 114949, dtype: int64

###### Droping unneccessary  column from the dataframe

In [29]:
master_frame1=master_frame.drop(['funding_round_code','funded_at','city','state_code','homepage_url','region','status','funding_round_permalink','permalink','founded_at'],axis=1)

In [30]:
perc_check(master_frame1)

company_permalink      0.00
funding_round_type     0.00
raised_amount_usd     17.39
name                   0.00
category_list          2.97
country_code           7.55
dtype: float64

In [31]:
master_frame1.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
1,/organization/-qounter,venture,NaN,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA
3,/organization/-the-one-of-them-inc-,venture,3406878.0,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN
4,/organization/0-6-com,venture,2000000.0,0-6.com,Curated Web,CHN

In [32]:
master_frame1['raised_amount_usd'].isnull().sum()

19990

In [33]:
master_frame2=master_frame1[~np.isnan(master_frame1['raised_amount_usd'])]

perc_check(master_frame2)

company_permalink     0.00
funding_round_type    0.00
raised_amount_usd     0.00
name                  0.00
category_list         1.10
country_code          6.16
dtype: float64

In [34]:
master_frame2[['category_list']].describe()

        category_list
count           93915
unique          23485
top     Biotechnology
freq             7773

In [35]:
master_frame3=master_frame2[~master_frame2['category_list'].isnull()]

perc_check(master_frame3)

company_permalink     0.00
funding_round_type    0.00
raised_amount_usd     0.00
name                  0.00
category_list         0.00
country_code          5.73
dtype: float64

In [36]:
master_frame3[['country_code']].describe()

       country_code
count         88529
unique          134
top             USA
freq          61692

In [37]:
mf_final=master_frame3[~master_frame3['country_code'].isnull()]

In [38]:
perc_check(mf_final)

company_permalink     0.0
funding_round_type    0.0
raised_amount_usd     0.0
name                  0.0
category_list         0.0
country_code          0.0
dtype: float64

In [39]:
mf_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88529 entries, 0 to 114947
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   company_permalink   88529 non-null  object
 1   funding_round_type  88529 non-null  object
 2   raised_amount_usd   88529 non-null  float64
 3   name                88528 non-null  object
 4   category_list       88529 non-null  object
 5   country_code        88529 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.0+ MB

In [40]:
mf_final.isnull().sum()

company_permalink     0
funding_round_type    0
raised_amount_usd     0
name                  1
category_list         0
country_code          0
dtype: int64

In [41]:
mf_final[['name']].describe()

                             name
count                       88528
unique                      48600
top     Solarflare Communications
freq                           19

In [42]:
m_mode=mf_final['name'].mode()
m_mode

0    Solarflare Communications
dtype: object

In [43]:
mf_final['name'].fillna(value= 'Solarflare Communications',inplace=True)

c:\python 3.8\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [44]:
mf_final.isnull().sum()

company_permalink     0
funding_round_type    0
raised_amount_usd     0
name                  0
category_list         0
country_code          0
dtype: int64

In [45]:
mf_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88529 entries, 0 to 114947
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   company_permalink   88529 non-null  object
 1   funding_round_type  88529 non-null  object
 2   raised_amount_usd   88529 non-null  float64
 3   name                88529 non-null  object
 4   category_list       88529 non-null  object
 5   country_code        88529 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.0+ MB

In [53]:
#saving the without null file 
mf_final.to_csv(r'F:\data science by ishan sir\project\clean_file.csv',index=False)

In [51]:
mf_final.head()

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
2,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA
4,/organization/0-6-com,venture,2000000.0,0-6.com,Curated Web,CHN
6,/organization/01games-technology,undisclosed,41250.0,01Games Technology,Games,HKG
7,/organization/0ndine-biomedical-inc,seed,43360.0,Ondine Biomedical Inc.,Biotechnology,CAN